html,
body,
.App,
#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content {
  font-size: 30px;
  color: black;
  text-align: center;
  width: 100%;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}