.scroll {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.overflow-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s ease;
}

.page {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.scroll-container > :nth-child(1) {
  background: red;
}

.scroll-container > :nth-child(2) {
  background: green;
}

.scroll-container > :nth-child(3) {
  background: yellow;
}

.scroll-container > :nth-child(4) {
  background: blue;
}

.scroll-container > :nth-child(5) {
  background: blue;
}